* {
  font-size: medium;
  font-family: "Calibri";
}

.Title {
  position: absolute;
  margin-top: 40px;
  margin-left: 40px;
  color: white;
  font-size: xx-large;
  font-family: "Verdana";
}

.Subtitle {
  position: absolute;
  margin-top: 90px;
  margin-left: 40px;
  color: white;
  font-size: large;
  font-family: "Verdana";
}

.page-color {
  background-color: black;
  width: 100%;
  height: 100%;
}

.btn {
  width: 100%;
  color: white;
  background-color: grey;
  padding: 0px;
  border: 0px;
  margin: 5px;
}

.btn:hover {
  background-color: rgb(106, 106, 106);
  color: white;
}

.btn:active {
  background-color: rgb(78, 78, 78);
}

.inputbox {
  width: 100%;
  background-color: grey;
  color: white;
  line-height: 1.6;
  padding-top: 5px;
}

.namefield {
  width: 100%;
  height: 20px;
}

.right {
  background-color: #252a2b;
}

.header {
  color: white;
  padding-top: 5px;
  padding-left: 10px;
}

.fields {
  padding-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.variable {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.676);
  padding: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
  width: calc(100% - 5px);
}

.scrollbar {
  margin: 0;
  padding: 0;
  height: 350px;
  width: 100%;
  overflow-y: scroll;
  background-color: #252a2b;
  align-items: center;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 1 6px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1 6px rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: #252a2b;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.676);
}

.left {
  height: 100%;
}

.sim {
  display: block;
  background-color: #272056;
  margin: 0;
}

.slidecontainer {
  margin-top: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  text-align: center;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #0412aa;
  cursor: pointer;
  margin-bottom: 12px;
}

datalist {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
}

.remove {
  width: 15px;
  height: 20px;
  float: right;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.remove:hover {
  color: white;
}

.resetbtn {
  font-size: small;
  width: 70px;
  color: white;
  background-color: grey;
  float: left;
  margin: 5px;
  border: 0;
}

.resetbtn:hover {
  filter: brightness(120%);
  color: white;
}

.resetbtn:active {
  filter: brightness(140%);
  color: white;
}

.btnwrap {
  text-align: center;
}

.colorpicker {
  height: 15px;
  width: 5px;
  border: solid #a9a9a9;
  margin-right: 5px;
}

.colorpicker:focus {
  border-color: white;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.Lgreen {
  background-color: rgb(135, 255, 91);
}

.Dgreen {
  background-color: rgb(0, 189, 0);
}

.Lblue {
  background-color: rgb(98, 211, 255);
}

.Dblue {
  background-color: rgb(27, 107, 255);
}

.violet {
  background-color: rgb(238, 130, 238);
  margin-right: 0;
}
