{% extends "base.html" %} {% block content %}
<div class="container-fluid page-color">
  <div class="row">
    <div class="col-9 left">
      <!-- simulation -->
      <div class="sims">
        <main></main>
      </div>
      <!-- bottom bar -->
      <div class="row details">details</div>
    </div>
    <!-- toolbar -->
    <div class="col-3 toolbar">
      <div class="header" id="header"><b>New centre planet</b></div>
      <div class="row tabs">
        <box class="inputbox">
          <div class="row">
            <div class="col-4">Name</div>
            <div class="col-8">
              <input class="namefield" type="text" id="name" maxlength="18" value="planet"/>
            </div>
          </div>
          <div class="row">
            <div class="col-4">Mass (kg)</div>
            <div class="col-8">
              <div class="slidecontainer">
                <input type="range" min="0" max="100" step="25" value="50" class="slider" id="mass_slider" list="interval">
                  <datalist id="interval">
                    <option value="0" label="&frac14 x"></option>
                    <option value="25" label="&frac12 x"></option>
                    <option value="50" label="x"></option>
                    <option value="75" label="2x"></option>
                    <option value="100" label="4x"></option>
                  </datalist>
                </input>
              </div>
            </div>
          </div>
          <div class="row" id="distfield">
          </div>
          <div class="row">
            <div class="col-4">Colour</div>
            <div class="col-8">
              <!-- <input class="colorfield" type="color" id="color"/> -->
              <button class="colorpicker white" id="white" onclick="colorbtn(this.id)"></button>
              <button class="colorpicker red" id="red" onclick="colorbtn(this.id)"></button>
              <button class="colorpicker orange" id="orange" onclick="colorbtn(this.id)"></button>
              <button class="colorpicker yellow" id="yellow" onclick="colorbtn(this.id)"></button>
              <button class="colorpicker Lgreen" id="Lgreen" onclick="colorbtn(this.id)"></button>
              <button class="colorpicker Dgreen" id="Dgreen" onclick="colorbtn(this.id)"></button>
              <button class="colorpicker Lblue" id="Lblue" onclick="colorbtn(this.id)"></button>
              <button class="colorpicker Dblue" id="Dblue" onclick="colorbtn(this.id)"></button>
              <button class="colorpicker violet" id="violet" onclick="colorbtn(this.id)"></button>
            </div>
          </div>
          <button class="btn" onclick="addPlanet()">add</button>
        </box>
      </div>
    <div class="btnwrap"><span class="resetbtn" onclick="removePlanet(0);">RESET</span></div>
    <br>
    <div class = "list" id="list">
    </div>
  </div>
</div>
{% endblock%}
